<div class="transaction-details-page">
   <p *ngIf="message" class="message">{{message}}</p>

   <div *ngIf="transaction">

      <div class="section-card">
         <h2>Informacion de la Transaccion</h2>
         <p>Tipo: {{transaction.transactionType}}</p>
         <p>Estado: {{transaction.status}}</p>
         <p>Descripcion: {{transaction.description}}</p>
         <p>Total de Productos: {{transaction.totalProducts}}</p>
         <p>Precio Total: {{transaction.totalPrice | currency}}</p>
         <p>Created At: {{transaction.createdAt | date:'short'}}</p>

         <div *ngIf="transaction.updatedAt">
            <p>Updated At: {{transaction.updatedAt | date:'short'}}</p>
         </div>
      </div>

      <div class="section-card">
         <h2>Informacion del Producto</h2>
         <p>Nombre: {{transaction.product.name}}</p>
         <p>SKU: {{transaction.product.sku}}</p>
         <p>Precio: {{transaction.product.price | currency}}</p>
         <p>Cantidad en Stock: {{transaction.product.stockQuantity}}</p>
         <p>Descripcion: {{transaction.product.description}}</p>

         <div *ngIf="transaction.product.imageUrl">
            <img [src]="transaction.product.imageUrl" alt="preview">
         </div>
      </div>

      <div class="section-card">
         <h2>Informacion del Usuario</h2>
         <p>Nombre: {{transaction.user.name}}</p>
         <p>Email: {{transaction.user.email}}</p>
         <p>Telefono: {{transaction.user.phoneNumber}}</p>
         <p>Rol: {{transaction.user.role}}</p>

      </div>

      <div *ngIf="transaction.supplier" class="section-card">
         <h2>Informacion del Proveedor</h2>
         <p>Nombre: {{transaction.supplier.name}}</p>
         <p>Direccion: {{transaction.supplier.address}}</p>
      </div>

      <div class="section-card transaction-status-update">
         <label for="">Estado: </label>
         <select [(ngModel)]="status" id="">
            <option value="PENDING">PENDIENTE</option>
            <option value="PROCESSING">EN PROCESO</option>
            <option value="COMPLETED">COMPLETADO</option>
            <option value="CANCELED">CANCELADO</option>
         </select>
         <button (click)="handleUpdateStatus()">Actualizar Estado</button>
      </div>

   </div>

</div>