<div class="dashboard-container">
  <h1>Panel de Control</h1>

  <div style="margin-bottom: 50px; margin-top: 30px;">
    <label>Selección de Mes:</label>
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
    </select>

    <label>Selección de Año:</label>
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <button (click)="loadMonthlyData()">Mostrar Datos Mensuales</button>
  </div>

  <div style="margin-bottom: 30px;">
    <h2>Conteo de Transacciones por Tipo</h2>
    <ngx-charts-bar-vertical [view]="view" [scheme]="'vivid'" [results]="transactionTypeData" [gradient]="false"
      [xAxis]="true" [yAxis]="true" [legend]="showLegend" [showXAxisLabel]="true" [showYAxisLabel]="true"
      xAxisLabel="Tipo de Transacción" yAxisLabel="Cantidad" [animations]="animations">
    </ngx-charts-bar-vertical>
  </div>

  <div style="margin-bottom: 30px;">
    <h2>Total Transacciones por Tipo</h2>
    <ngx-charts-pie-chart [view]="view" [scheme]="'cool'" [results]="transactionAmountData" [legend]="showLegend"
      [labels]="showLabels" [doughnut]="false" [animations]="animations">
    </ngx-charts-pie-chart>
  </div>

  <h2 style="margin-bottom: 50px;">Gráfico de Transacciones Mensuales</h2>

  <div *ngIf="monthlyTransactionData.length">
    <ngx-charts-bar-vertical [view]="view" [scheme]="'flame'" [results]="monthlyTransactionData" [gradient]="false"
      [xAxis]="true" [yAxis]="true" [legend]="showLegend" [showXAxisLabel]="true" [showYAxisLabel]="true"
      xAxisLabel="Day of Month" yAxisLabel="Total Price" [animations]="animations">
    </ngx-charts-bar-vertical>
  </div>
</div>